pandas>=2.3.0
numpy>=2.3.0
pyarrow>=14.0.0
scikit-learn>=1.7.0
xgboost>=3.1.0
lightgbm>=4.6.0
catboost>=1.2.0
optuna>=4.7.0
mlflow>=3.10.0
shap>=0.50.0
requests>=2.32.0
kagglehub>=1.0.0
python-dotenv>=1.2.0
joblib>=1.5.0
